.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

ul {
    margin-left: 0;
    padding-left: 0;
}

.isDone {
    text-decoration: line-through;
    font-weight: bold;
    color: limegreen;
    list-style-type: none;
}

.notIsDone {
    color: red;
    list-style-type: none;
}

.btn {
    background-color: white;
    color: darkolivegreen;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-right: 5px;
}

.active-btn {
    background-color: gold;
    color: black;
    font-weight: bold;
    border: 1px solid black;
}

.error {
    border: 2px solid red;
    outline: none;
}